body {
    background: linear-gradient(90deg , orange ,purple);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}


.a{
  background-color: #ffffff;
  width: 40vw;
  height: 500px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  
}
input{
  width: 95%;
  height: 10%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #A29A8FD4;
  border: none;
  outline: none;
  text-decoration: none;
  
  border-radius: 6px;
  
  text-align: center;
  
  font-size: 30px;
  
  
  
}

h2{
  font-size: 53px;
  text-align: center;
  text-transform: uppercase;
  color: purple;
 
}
button{
  margin-top: 40px;
  width: 90%;
  height: 10%;
  background-color: #7E5319;
  border-radius: 7px;
  margin-left: 4px;
  color: rgba(156, 142, 123, 0.83);
}
b{
 color: #76788D;
 
}
h6{
  
  text-align: center;
  color: orange;
  font-size: 20px;
}
a{
  text-decoration: none;
} 

@media screen and (max-height: 646px ){
.a{
  background-color: #ffffff;
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
 
  
}
input{
  width: 95%;
  padding: 5px;
  box-sizing: border-box;
  background-color: #A29A8FD4;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  height: 30px;
  border-radius: 3px;
  
}

h2{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: purple;
  margin-top: 10px;
  margin-bottom: 40px;
 
}
button{
  margin-top: 20px;
  width: 95%;
  height: 40px;
  background-color: #7E5319;
  border-radius: 5px;
  margin-left: 4px;
  color: rgba(156, 142, 123, 0.83);
}
b{
 color: #76788D;
 
}
h6{
  text-align: center;
  color: orange;
  margin-top: 19px;
  font-size: 15px;
}
a{
  text-decoration: none;
} 

}